/*
colours ✨✨
#436436 Hunter Green
#D6F599 Mindaro
#D2FF28 Arctic Lime
#C84C09 Sinopia
#420217 Dark Sienna
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #150C0D;
}

.calc-container {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(4, auto);
    min-height: 0;
    min-width: 0;
    gap: 2px;
    width: 430px;
    height: 530px;
    border: #436436 12px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #420217;

}

.calc-container .operator {
    background-color: #C84C09;
}

.calc-container .clear {
    background-color: olive;
}

.calc-container button {
    font-size: 30px;
    border: #420217 1px solid;
    border-radius: 5px;
    color: #420217;
    background-color: #D2FF28;
}

.calc-container button:active {
    filter: brightness(180%);
}

.display-bar {
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 90px;
    border: 6px solid #420217;
    background-color: #D6F599;
    font-size: 60px;
    overflow: hidden;
    min-width: 0;   
}

.display-bar span {
    margin-left: auto;
    color: #420217;
    background-color: #D6F599;
}

#equals {
    background-color: rgb(40, 161, 149);
}

#zero {
    grid-column-start: span 2;
    grid-column-end: auto;
}

#backspace {
    grid-column-start: span 2;
    grid-column-end: auto;
}